<% if(isAuth) { %>
    <%- include('header'); -%>

    <body>
        <div class="product-container">
            <div class="product-image">
                <img src="<%= product.image %>" alt="<%= product.name %>">
            </div>

            <div class="product-info">
                <h2><%= product.type %></h2>
                <p>Marque : <%= product.marque %></p>
                <p>Modèle : <%= product.modele %></p>
                <p>Description : <%= product.description %></p>
            </div>
        </div>
        <div class="reservation-boutton">
            <a href="/reserver" class="reserve-btn">Réserver</a>
        </div>
    </body>

    <%- include('footer'); -%>
<% } %>
